<!DOCTYPE html>
<html>

<head>
	<title>İlanlarım</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	 crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	 crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
	 crossorigin="anonymous">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	 crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
	 crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>

<body>
	<div class="container">



		<% for(var i=0; i <  isler.length; i++) { %>

		<div class="card">
			<div class="card-header">
					<%= ad %> <a href="#" class="btn btn-primary float-right"><i class="fas fa-file-signature"></i> Başvurular </a>
			</div>
			<div class="card-body">
				<h5 class="card-title">
					<%= isler[i].ilan_basligi %>
				</h5>
				<p class="card-text"><span class="badge badge-primary"><i class="fas fa-location-arrow"></i>
						<%= isler[0].hareket_yeri %> </span> <i class="fas fa-arrow-alt-circle-right text-primary"></i> <span class="badge badge-primary"><i
						 class="fas fa-location-arrow"></i>
						<%= isler[0].varis_yeri %></span></p>
				<p class="card-text"><span class="badge badge-secondary"><i class="fas fa-weight-hanging"></i>
						<%= isler[i].max_agirlik %></span> <span class="badge badge-success"><i class="fas fa-money-bill"></i>
						<%= isler[0].fiyat %></span> <span class="badge badge-danger"><i class="fas fa-exclamation"></i>
						<%= isler[0].yuk_cinsi %></span></p>
			</div>
		</div>
		<br>

		<% } %>





	</div>




</body>

</html>