<html>
  <head>
      <title>Profil Güncelleme</title>
      <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1">
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
      <div class="container">

          <% include partials/baslik.ejs %>
          <br>
        <form method="post" action="/isveren/guncelle">
                <!--şirketin adı-->
                <div class="form-group">
                        <label  for="sirketAdi">Şirket Adı: </label>
                      <input type="text" class="form-control" id="sirketAdi"  name="sirketAdi" value= <%= isveren.sirket_adi %> required>
                 </div>

                <!--şifre-->
                 <div class="form-group">
                        <label for="sirketSifre">Şifre:   </label>
                        <input type="password" class="form-control" id="sirketSifre"  name="sirketSifre"  value =  <%= isveren.sifre %> >
                </div>

                 <!--Şirketin telefon numarası-->
                 <div class="form-group">
                        <label  for="sirketTelefon">No:  </label>
                        <input type="text" class="form-control" id="sirketTelefon"  name="sirketTelefon" placeholder="Şirketin Telefon Numarasını Giriniz.."  value =  <%= isveren.telefon %> qrequired>
                 </div>

                 <!--vergi numarası-->
                 <div class="form-group">
                        <label for="vergiNo">Vergi No:  </label>
                        <input type="text" class="form-control" id="vergiNo"  name="vergiNo" placeholder="Şirketin Vergi Numaranızı Giriniz.." value =  <%= isveren.vergi_no %> required>
                 </div>

                  <!--sicil numarası-->
                  <div class="form-group">
                        <label for="sicilNo">Sicil No:  </label>
                        <input type="text" class="form-control" id="sicilNo"  name="sicilNo" placeholder="Şirketin Sicil Numarasını Giriniz.." value =  <%= isveren.sicil_no %> required>
                 </div>

                <!--şirketin e-mail adresi-->
                 <div class="form-group">
                        <label for="sirketMail">E-Mail: </label>
                        <input type="text" class="form-control" id="sirketMail"  name="sirketMail" placeholder="Şirketin E-Mail Adresini Giriniz.." value =  <%= isveren.e_posta %> required>
                 </div>

                 <button type="submit" class="btn btn-primary">Güncelle</button>






        </form>
        <% include partials/footer.ejs %>
      </div>
        



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
